html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #db7055;
  color: #eef0f6;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #221c11;
}
